In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
df = pd.read_csv('Life Expectancy Data.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [9]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [10]:
#checking for null values 
df.isnull()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [18]:
#dropping the null values 
df_clean = df.dropna()

In [19]:
df_clean.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [31]:
df_clean.columns.tolist()

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [40]:
#For simplicity we only take few features ('GDP','Schooling','BMI','Alcohol','Adult Mortality')
X = df_clean[['GDP','Schooling',' BMI ','Alcohol','Adult Mortality']]
y = df_clean['Life expectancy ']

In [41]:
#Splitting data into training and testing 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [42]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [44]:
y_pred = reg.predict(X_test)
y_pred

array([70.77663285, 72.61612373, 80.23746158, 55.99291948, 50.93714832,
       53.22734878, 68.76869701, 77.49681855, 78.18423572, 73.59036704,
       78.21437545, 74.34694717, 76.12691433, 67.60013278, 64.19600232,
       67.18932604, 79.81438167, 80.66293283, 75.96730753, 71.48784466,
       79.79391857, 69.69776925, 68.62198076, 73.64036776, 65.3143616 ,
       68.80518925, 74.93694863, 76.51274622, 82.32514977, 72.36375525,
       67.91199504, 62.25342438, 69.44429869, 81.89129563, 76.96519492,
       77.57748893, 61.10892123, 56.35168625, 72.17545921, 79.06036662,
       60.05720731, 74.94971019, 71.22837092, 71.94583708, 77.08599605,
       61.87830884, 73.05289336, 55.58687103, 67.23004533, 73.02124554,
       63.49676952, 64.73841921, 57.40587387, 71.36512845, 73.21875717,
       53.85475428, 76.88278695, 75.36060399, 72.17543535, 60.31933563,
       61.09771982, 57.90928622, 66.57348244, 74.49686614, 69.72589936,
       78.64254503, 59.45469186, 78.35760434, 78.50348688, 68.88872772,
       69.82765333, 68.67300419, 60.88625365, 65.95245902, 74.33626151,
       70.40171096, 65.68695232, 58.49777463, 76.90394225, 82.69261587,
       68.14992023, 70.60700736, 71.6622297 , 68.93481146, 62.08618769,
       69.67178522, 70.03226874, 66.83679844, 68.02192947, 69.17886167,
       78.33923413, 78.98111626, 72.4108784 , 68.94720391, 79.77324087,
       69.31941351, 62.18518878, 69.48627157, 73.22784583, 73.50357992,
       66.64062389, 74.15506307, 70.47308438, 61.09609899, 76.12064976,
       76.39724295, 78.7976525 , 77.55690468, 57.27110505, 68.05843246,
       69.57749216, 69.45555038, 76.65273004, 69.96951262, 74.07727763,
       75.4365343 , 70.25970732, 68.61440391, 69.4022623 , 65.47671587,
       73.12488777, 62.61280472, 55.58360837, 71.51302693, 70.28068524,
       81.18093902, 81.06170591, 59.60546085, 68.90844854, 59.69501481,
       78.16418492, 70.67480746, 70.41549288, 70.60632414, 70.15804722,
       78.29763802, 71.82331442, 70.60996947, 71.04653924, 78.9671021 ,
       75.3049272 , 68.66610739, 69.22835847, 51.70653219, 68.67870056,
       64.06862479, 66.7574156 , 78.13014816, 73.0252194 , 56.08878466,
       73.79206251, 79.62329875, 58.60925967, 68.66618659, 67.67664994,
       76.24059486, 72.05539556, 70.20170492, 73.55248674, 76.70863111,
       66.06143276, 77.44320016, 53.73665667, 69.15419866, 71.17873768,
       71.87333726, 71.04831875, 70.2203883 , 72.23043666, 62.92396395,
       68.44548938, 71.71928602, 71.89009104, 70.90949081, 63.25635786,
       70.31494188, 73.36648155, 62.94944818, 59.4206257 , 65.53162309,
       67.44453245, 71.96605167, 72.5335868 , 72.43118233, 71.78328551,
       62.28587505, 73.2481839 , 76.92736112, 74.24051277, 60.51298264,
       57.77495711, 70.82063006, 56.42070165, 55.22686623, 78.89743449,
       57.5470523 , 67.28369122, 68.30277584, 68.00663698, 73.08738552,
       69.80375472, 72.84505909, 70.98782696, 69.37656345, 75.76514662,
       53.01996592, 52.42247649, 74.67075133, 74.65339952, 59.79679218,
       67.5828573 , 72.94222238, 70.19412911, 70.2997127 , 71.93718586,
       54.15560784, 75.28752551, 66.50324797, 58.50921032, 70.81062627,
       62.41777042, 74.53640788, 75.00656272, 58.43538575, 72.70277269,
       69.71321075, 81.42427524, 60.79268081, 62.79048758, 60.67176398,
       77.22761091, 77.40419563, 69.15136939, 60.64732614, 71.41526278,
       71.28885001, 71.53108058, 59.76164796, 66.6757291 , 82.25859353,
       71.31069123, 64.82456473, 82.46670562, 73.9719037 , 75.37210444,
       57.89843466, 75.54767765, 64.55471559, 64.90481348, 77.93652192,
       68.76648055, 68.54315778, 67.89323427, 73.14545063, 65.60075456,
       75.63949041, 75.03175564, 67.77367517, 68.73020813, 63.29510306,
       53.57124352, 66.89478311, 65.90409561, 52.82026284, 71.9768539 ,
       70.70483948, 60.87888394, 62.26905108, 68.60095975, 80.68837652,
       67.59954278, 66.2238584 , 72.60805871, 66.15662639, 66.41208582,
       77.4851117 , 77.70423112, 64.98772036, 60.89427246, 81.62273852,
       59.7158493 , 63.12900998, 75.58209209, 74.71747445, 75.033492  ,
       66.96559663, 78.72328798, 70.67905574, 75.20666395, 69.69548929,
       70.08278719, 69.45696035, 70.19845418, 63.55558359, 71.14207204,
       70.73250677, 78.50751641, 75.47378611, 74.62732708, 69.90888952,
       68.55632534, 52.16038165, 70.07461923, 69.63067111, 66.92123101,
       78.49575704, 71.6460683 , 69.22243957, 64.12029615, 63.40416863,
       69.6392981 , 79.44693136, 72.51614544, 55.83475202, 52.82062065,
       60.55422728, 70.74656993, 70.21847132, 68.00185508, 78.43520242,
       69.17507894, 55.77654971, 81.61202456, 72.21788298, 65.3778047 ,
       79.07808647, 76.31138633, 60.03472105, 67.681937  , 57.28712774])

In [45]:
#Evaluation(MSE, R2)
print('MSE: ', mean_squared_error(y_test,y_pred))
print('R2: ', r2_score(y_test, y_pred))

MSE:  19.948173194009232
R2:  0.7191287612686019

In [49]:
#plotting the graph